@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-font: 'Open Sans', sans-serif;
$background-grey: #e1e1e1;
$main-blue: #25528f;
$correct-green: #4caf50;
$next-green: #388e3c;
$space-yellow: #ffb74d;

